<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Resetar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="reset-container">
    <h1 class="ion-text-center">Recuperar Acesso</h1>
    <p class="ion-text-center">
      Informe seu email e CPF para redefinir sua senha
    </p>

    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <ion-note
          slot="error"
          *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.hasError('required')"
        >
          Email é obrigatório
        </ion-note>
        <ion-note
          slot="error"
          *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.hasError('email')"
        >
          Por favor, informe um email válido
        </ion-note>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="text" formControlName="cpf" maxlength="14"></ion-input>
        <ion-note
          slot="error"
          *ngIf="resetForm.get('cpf')?.touched && resetForm.get('cpf')?.hasError('required')"
        >
          CPF é obrigatório
        </ion-note>
        <ion-note
          slot="error"
          *ngIf="resetForm.get('cpf')?.touched && resetForm.get('cpf')?.hasError('invalidCpf')"
        >
          CPF inválido
        </ion-note>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top">
        Enviar Solicitação
      </ion-button>
    </form>
  </div>
</ion-content>
